<mat-card>
  <mat-card-title>Novo Cadastro</mat-card-title>
  <form #formulario="ngForm" (ngSubmit)="createCadastro()" novalidate>
    <mat-form-field>
      <input
        matInput
        placeholder="Nome*"
        [(ngModel)]="cadastro.name"
        name="name"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="CPF ou CNPJ*"
        [(ngModel)]="cadastro.registro"
        name="registro"
        required
        pattern="^\d{11}$|^\d{14}$"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Nome da Fazenda"
        [(ngModel)]="cadastro.nameFarm"
        name="nameFarm"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Cidade"
        [(ngModel)]="cadastro.city"
        name="city"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Estado"
        [(ngModel)]="cadastro.state"
        name="state"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Area Total*"
        [(ngModel)]="cadastro.aTotal"
        name="aTotal"
        id="aTotal"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Area Agricultavel*"
        [(ngModel)]="cadastro.aAgri"
        name="aAgri"
        id="aAgri"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Area de Vegetacao*"
        [(ngModel)]="cadastro.aVeg"
        name="aVeg"
        id="aVeg"
        (input)="validarAreaTotal()"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Culturas"
        [(ngModel)]="cadastro.cultures"
        name="cultures"
      />
    </mat-form-field>
  </form>

  <div class="actions">
    <button
      mat-raised-butttom
      (click)="createCadastro()"
      [disabled]="formulario.invalid"

    >
      Salvar
    </button>

    
    <button mat-raised-butttom (click)="cancel()" color="primary">
      Cancelar
    </button>
  </div>
</mat-card>
